/*
****************************************************
Name: Caroline Kim
Assignment: 02
Purpose: Introducing Github
Notes:
*********************************************************
*/


html, body {
    height: auto;
    margin: auto;
    padding: 0;
    font-family:  'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #49515a;
    background-color: #F9F9F5;
}
